<!--Navbar-->
<header class="container-fluid fixed-top">
  <nav class="navbar navbar-expand-md navbar-light container">
    <a href="#" class="navbar-brand">
      <a class="nav-link" href="">Welcome <span id="user_name"><%=data.username %></span> <span id="user_id"style="display:none"><%=data.id%></span></a>
      </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#toggleMenu"
      aria-controls="toggelMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="toggleMenu">
      <ul class="navbar-nav ms-auto text-center">
        <li class="nav-item px-3"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item px-3">
          <a class="nav-link" id = "newPost" href="#">Create Post</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="/signout">Sign Out</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
