<script>
     document.getElementById("body").style.background = "#F9D8CB"
</script>
<div class="d-flex justify-content-center h-100 text-center text-black" >
      <div class="d-flex justify-content-center cover-container  mx-auto flex-column" >
        <header class="mb-auto">
          <div>
            <nav
              class="nav nav-masthead justify-content-center float-md-end"
            ></nav>
          </div>
        </header>

        <h1 style="padding-top: 50px; color: black">Welcome to Not Twitter!</h1>

          <div class="container w-75 border rounded-3" style="background-image: linear-gradient(to right, #8360c3, #2ebf91);;"  >
          <div class="row" class="border-0">
            <div class="col" class="border-0">
              <img class="img-fluid rounded mx-auto d-block" style=" padding-top: 50px; width: 400px;"
              src="https://png.pngtree.com/png-vector/20190115/ourlarge/pngtree-social-media-vector-illustration-concept-people-at-the-park-comment-like-png-image_317282.jpg"
              />
            </div>

            <div class="col" class="border-0">
              <div class="cols-2 gap-8"class="border-0">
                <div class="col" style="padding-top: 50px; padding-bottom: 50px;">
                <h2 style="font-family: Cursive" >Let your voice be heard!</h3>
                <div class="container" >
                  <p class="lead" style="font-family: Garamond">
                    Not Twitter is a social media account that allows you to post
                    whatever you want to the world. You can log in and make these
                    posts and see other users' posts ordered by when they were made.
                    A user can like and comment on another user's post. You can also
                    see other people who have liked and commented on a post. Not
                    Twitter allows you to connect with people from anywhere
                    virtually.
                  </p>
                  <div class="row" class="border-0">
                    <div class="col">
                      <p class="lead">
                        <a
                          href="/register"
                          class="btn btn-lg btn-secondary fw-bold border-black" style="background:#262160"
                          >Sign Up</a
                        >
                        <a
                          href="/login"
                          class="btn btn-lg btn-secondary fw-bold border-black " style="background:#262160"
                          >Log in</a
                        >
                      </p>
                    </div>
                    </div>
                </div>
                </div>

              </div>
            </div>

            

            
            
          </div>  
          </div>
       

        <footer class="mt-auto text-black-50"></footer>
      </div>
    </div>



