<!--Navbar-->
  <header class="container-fluid fixed-top">
    <nav class="navbar navbar-expand-md navbar-light container">
        <a href="#" class="navbar-brand">
        <img src="./images/pawhouse.png" alt="Logo" width="40" height="40" class="mx-2"></img>    
        <span class="mx-2 bold">E-Adopt</span></a>
        <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#toggleMenu" 
        aria-controls="toggelMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="toggleMenu">
            <ul class="navbar-nav ms-auto text-center ">
                <li class="nav-item px-3"><a class="nav-link" href="index.html">Home</a></li>