 <!--Navbar-->
 <header class="container-fluid fixed-top">
    <nav class="navbar navbar-expand-md navbar-light container">
        <a href="#" class="navbar-brand">
        <span class="mx-2 bold">Not Twitter</span></a>
        <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#toggleMenu" 
        aria-controls="toggelMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="toggleMenu">
            <ul class="navbar-nav ms-auto text-center ">
                <li class="nav-item px-3"><a class="nav-link" href="">Home</a></li>
                <li class="nav-item px-3"><a class="nav-link" href="">Sign Up</a></li>
                <li class="nav-item px-3"><a class="nav-link" href="">Sign In</a></li>
            </ul>
        </div>
    </nav>
</header>    